footer{
    width:100%;
    height: 400px;
    background-color:#D55203;
    padding-right:10vw;
    padding-left:10vw;
    text-align:center;
    h1{
        font-size: 0.8rem;
        color:#fff;
    }
    .icons{
        display:flex;
        justify-content:space-evenly;
    }
    .fab{
        fill:#fff;
        font-size:50px;
    }
}