.missionContainer{
    h1{
        font-weight:bold;
        color:#000000;
        font-family:Oswald;
        font-size:32px;
        margin-left:5%;
        margin-right:5%;
    }
    .orange{
        color:#D55203;
    }
    .participerContainer{
        background-color:#F9E8DC;
    }
    p{
        margin-right:5%;
        margin-left:5%;
        font-family:montserrat;
        font-size:24px;
        line-height:30px;
    }
    #descriptionMission{
        margin-left:5%;
    }
    h2{
        color:#000000;
        font-family:montserrat;
        font-size:24px;
        margin-left:5%;
        margin-right:5%;
    }
    li{
        font-family:montserrat;
        font-size:24px;
        padding:10px;
        margin-left:5%;
        margin-right:5%;
    }
}

