Options +FollowSymLinks
RewriteEngine On
RewriteBase /unima-gaming/public/

# Réécrire l'URL pour la page d'accueil
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php?page=$1 [QSA,L]
